<!-- <h1>Doctors#new</h1> -->
<!-- <p>Find me in app/views/doctors/new.html.erb</p> -->

<%= form_for @doctor do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :specialty %>
  <%= f.text_field :specialty %>

  <%= f.label :registration_number %>
  <%= f.text_field :registration_number %>
  <%= f.submit %>
<% end %>
